@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply font-body bg-background text-lightSanJuanBlue leading-[28px];
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-headings font-normal text-sanJuanBlue;
  }

  h1 {
    @apply text-[32px] leading-[36px] md:text-[48px] md:leading-[56px]  lg:text-[72px] lg:leading-[72px];
  }
  h1.small {
    @apply text-[56px] leading-[56px];
  }
  h2 {
    @apply text-[32px] leading-[36px] md:text-[48px] md:leading-[56px];
  }
  h3 {
    @apply text-[32px] leading-[40px];
  }
  h3.small {
    @apply font-body text-[18px] leading-[25px] font-bold;
  }
  h4 {
    @apply text-[24px] leading-[32px];
  }
  button {
    @apply text-waterWhite bg-darkPink rounded-[100vw] hover:bg-charmPink font-bold;
  }
  button.secondary__light {
    @apply text-waterWhite bg-mirageBlue rounded-[100vw] hover:bg-waterWhite hover:text-mirageBlue font-bold border-waterWhite border  h-12 w-[129px];
  }
  button.secondary__dark {
    @apply text-sanJuanBlue bg-waterWhite rounded-[100vw] hover:bg-sanJuanBlue hover:text-waterWhite font-bold;
  }
  p {
    @apply text-[15px];
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
